.dttb-cursor-pointer {
    cursor: pointer;
}

.dttb-cursor-move {
    cursor: move;
}

.dttb-display-as-image {
    max-height: 160px;
    max-width: 160px;
    cursor: zoom-in;
}

.dttb-cell-editable {
    min-width: 20px;
    min-height: 20px;
}

.dttb-table-main-min-height {
    min-height: 100px;
}

.dttb-modal-body {
    max-height: 400px;
    overflow-y: scroll;
}

.dttb-pagination {
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 2px;
}

.dttb-diagonal-text {
    -ms-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    -ms-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    float: left;
}

.dttb-vertical-text {
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -ms-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    float: left;
}

.dttb-text-rtl {
    direction: rtl;
}

.dttb-table > thead > tr > th.dttb-column-diagonal {
    height: 125px;
    min-width: 130px;
}

.dttb-table > thead > tr > th.dttb-column-vertical {
    height: 150px;
    min-width: 100px;
}

.dttb-table > thead > tr > th:not(.dttb-column-checkbox):not(.dttb-column-vertical):not(.dttb-column-diagonal) {
    min-width: 170px;
}

.dttb-table > tbody > tr > td:not(.dttb-column-checkbox):not(.dttb-column-vertical):not(.dttb-column-diagonal) {
    min-width: 170px;
}

.dttb-highlighted-row {
    border: 3px dashed red;
}

.dttb-highlighted-col {
    border: 3px dashed red !important;
}

.dttb-highlighted-row > .dttb-highlighted-col {
    font-weight: bold;
}

.dttb-text-bold {
    font-weight: bold;
}

.dttb-tbl-panel {
    resize: horizontal;
    overflow: auto;
}

.dttb-body-wrapper {
    position: relative;
    min-height: 100px;
}

.dttb-loading-spinner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
}

.dttb-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #34495E;
    height: 32px;
    width: 32px;
    border-radius: 18px;
    margin: -16px 0 0 -16px;
    -webkit-animation: sharp 2s ease infinite;
    -o-animation: sharp 2s ease infinite;
    animation: sharp 2s ease infinite;
}

@-webkit-keyframes sharp {
    0% {
        background-color: #e74c3c;
        border-radius: 18px;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        background-color: #34495E;
        border-radius: 0;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        background-color: #e74c3c;
        border-radius: 18px;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes sharp {
    0% {
        background-color: #e74c3c;
        border-radius: 18px;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        background-color: #34495E;
        border-radius: 0;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        background-color: #e74c3c;
        border-radius: 18px;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes sharp {
    0% {
        background-color: #e74c3c;
        border-radius: 18px;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        background-color: #34495E;
        border-radius: 0;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        background-color: #e74c3c;
        border-radius: 18px;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes sharp {
    0% {
        background-color: #e74c3c;
        border-radius: 18px;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        background-color: #34495E;
        border-radius: 0;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        background-color: #e74c3c;
        border-radius: 18px;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
