<div class="form-group" ng-class="{'has-success': valid, 'has-error': !valid}">
    <label class="control-label">
        <h3 ng-if="label">
            <b class="text-danger" ng-if="config.displayRequiredStar" title="This field is required.">*</b> 
            {{::label}}
        </h3>
    </label>
    <div class="radio" ng-repeat="option in config.options track by $index">
        <label>
            <input type="radio" ng-model="$parent.model" ng-value="option[config.optionModelKey]"> 
            {{::option[config.optionDisplayKey]}}
        </label>
    </div>
    <div ng-include="$root.dataTablarBaseFolder + '/views/form-element-messages.html'"></div>
</div>
