<div class="form-group">
    <label class="control-label">
        <h3 ng-if="label">
            <b class="text-danger" ng-if="config.displayRequiredStar" title="{{::$root.dataTablarDictionary.titleFormFieldRequire}}">*</b> 
            {{::label}}:
        </h3>
    </label>
    <div class="radio">
        <label>
            <input type="radio" data-ng-value="true" ng-model="model" checked>
            <span ng-if="config.booleanAs=='icon'">
                <span class="text-success h4"><i class="{{config.booleanTrueVal}}"></i></span>
            </span>
            <span ng-if="config.booleanAs=='text'">
                {{config.booleanTrueVal}}
            </span>
            <span ng-if="config.booleanAs=='default'">
                TRUE
            </span>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" data-ng-value="false" ng-model="model">
            <span ng-if="config.booleanAs=='icon'">
                <span class="text-default h4"><i class="{{config.booleanFalseVal}}"></i></span>
            </span>
            <span ng-if="config.booleanAs=='text'">
                {{config.booleanFalseVal}}
            </span>
            <span ng-if="config.booleanAs=='default'">
                FALSE
            </span>
        </label>
    </div>
</div>
