<div class="form-group" ng-class="{'has-success': valid, 'has-error': !valid}">
    <label class="control-label">
        <h3 ng-if="label">
        	<b class="text-danger" ng-if="config.displayRequiredStar" title="{{::$root.dataTablarDictionary.titleFormFieldRequire}}">*</b> 
        	{{::label}}:
        </h3>
    </label>
    <div ng-show="!config.typeaheadAjax">
        <input
            type="text" 
            ng-disabled="disabled"
            ng-model="model" 
            uib-typeahead="option for option in config.options | filter:$viewValue | limitTo:8" 
            ng-model-options="{ debounce: 200 }"
            typeahead-no-results="noResults1"
            class="form-control input-sm">
        <div ng-show="noResults1">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
            <b>{{$root.dataTablarDictionary.formTypeAheadNoResult}}</b>
        </div>
    </div>
    <div ng-show="config.typeaheadAjax">
        <input 
            ng-disabled="disabled"
            type="text" 
            ng-model="model" 
            uib-typeahead="option for option in fetchOptions($viewValue)"
            ng-model-options="{ debounce: 200 }"
            typeahead-no-results="noResults2"
            class="form-control input-sm">
        <div ng-show="noResults2">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
            <b>{{$root.dataTablarDictionary.formTypeAheadNoResult}}</b>
        </div>
    </div>
    <div ng-include="$root.dataTablarBaseFolder + '/views/form-element-messages.html'"></div>
</div>
