<div class="modal-header">
    <h3 class="modal-title">
    	<span>{{::$root.dataTablarDictionary.phraseFeedbackFor}} </span>
		<b>data-tablar</b>
	</h3>
</div>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdPRwQUD5JrbBd2m5OQv8la7rBzQysY2ryH9jP_OowYwSHvPQ/viewform?embedded=true" width="430" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
<blockquote>
        <p>Thanks for choosing <b class="text-danger">data-tablar</b>!</p>
        <footer>
            <cite title="Data-tablar author">bangdc</cite>
        </footer>
    </blockquote>
<div class="modal-footer">
    <button class="btn btn-default btn-sm" type="button" ng-click="closeThisDialog()">
        <i class="fa fa-close"></i>
        <span>{{::$root.dataTablarDictionary.wordCancel}}</span>
    </button>
</div>
