<div class="modal-header">
	<h3 class="modal-title">
		<a target="_blank" href="{{url}}" class="btn btn-block btn-primary">
			<i class="fa fa-internet-explorer" aria-hidden="true"></i>
			{{::$root.dataTablarDictionary.phraseOpenInNewTab}}
		</a>
	</h3>
    <hr>
    <div>
        <input type="text" class="form-control" value="{{url}}" title="{{::$root.dataTablarDictionary.phraseCopyThisUrl}}">
        <p class="text-danger">
			<small><b>*</b> {{::$root.dataTablarDictionary.copyShareUrlToClipboard}}</small>
		</p>
    </div>
</div>