<div class="modal-header">
    <h3 class="modal-title">
    	{{::$root.dataTablarDictionary.titleModalExport}}
    </h3>
</div>
<div class="modal-body dttb-modal-body">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-lg-4 control-label">
                    {{::$root.dataTablarDictionary.wordColumns}}
                </label>
                <div class="col-lg-8">
                    <select ng-options="col.key as col.label for col in columns" multiple="" class="form-control input-sm" ng-model="exportCsvConfig.selectedCols">
                    </select>
                </div>
            </div>
            <div class="form-group" ng-init="exportCsvConfig.selectedRowsOption='all';">
                <label class="col-lg-4 control-label">
                    {{::$root.dataTablarDictionary.wordRows}}
                </label>
                <div class="col-lg-8">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="exportCsvConfig.selectedRowsOption" value="all">
                            <span class="label label-info">{{::$root.dataTablarDictionary.wordAll}} {{::$root.dataTablarDictionary.wordRows}}</span>
                            <span>[1..{{::rows.length}}]</span>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="exportCsvConfig.selectedRowsOption" value="selected">
                            <span class="label label-info">{{::$root.dataTablarDictionary.wordSelected}} {{::$root.dataTablarDictionary.wordRows}}</span>
                            <span>[{{::selectedRowsText}}]</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">{{::$root.dataTablarDictionary.wordInclude}} {{::$root.dataTablarDictionary.wordHeader}}</label>
                <div class="col-lg-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="exportCsvConfig.header">
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">{{::$root.dataTablarDictionary.wordInclude}} {{::$root.dataTablarDictionary.wordFooter}}</label>
                <div class="col-lg-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="exportCsvConfig.footer">
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">{{::$root.dataTablarDictionary.phraseFileName}}</label>
                <div class="col-lg-8">
                    <div class="input-group">
                        <input ng-init="exportCsvConfig.fileName='data-tablar'" ng-model="exportCsvConfig.fileName" type="text" class="form-control input-sm" placeholder="FILE_NAME_CSV_PLACEHOLDER">
                        <div class="input-group-addon input-sm">
                            <b>.csv</b>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" type="button" ng-click="confirmDialog()">
        <i class="fa fa-download"></i>
        <span>{{::$root.dataTablarDictionary.wordExport}}</span>
    </button>
    <button class="btn btn-default btn-sm" type="button" ng-click="closeDialog()">
        <i class="fa fa-close"></i>
        <span>{{::$root.dataTablarDictionary.wordCancel}}</span>
    </button>
</div>
