<h1><code ng:non-bindable="">dttbTableController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-controller-page datatablar-controller-dttbtablecontroller-page"><h3 id="description_dttbtablecontroller">dttbTableController</h3>
<p>Controller of directive dttbTable
This controller is responsible for showing the details of the table rendered by dttbTable directive.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$route">$route</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/dttbHelperService">dttbHelperService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/Notification">Notification</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/moment">moment</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ngDialog">ngDialog</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$translate">$translate</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/dttbRequestService">dttbRequestService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/dttbExporterService">dttbExporterService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$rootScope">$rootScope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/localStorageService">localStorageService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$routeParams">$routeParams</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_checktableconfig">checkTableConfig()</h3>
<div class="checktableconfig"><div class="checktableconfig-page"><p>This method will be called to initialize the table. 
It will call, for the first time, to check wether the configuration is properly valid.</p>
</div></div>
</li>
<li><h3 id="methods_exporttable">exportTable()</h3>
<div class="exporttable"><div class="exporttable-page"><p>This event will be triggered when user wants to export table data as CSV file.
The dialog will appear for user to configure options.
It uses the dttbExporterService to generate CSV file.
The download will automatically prompted.</p>
</div></div>
</li>
<li><h3 id="methods_generatepagination">generatePagination()</h3>
<div class="generatepagination"><div class="generatepagination-page"><p>It generates the pagination object by using the properties of the tableQuery.</p>
</div></div>
</li>
<li><h3 id="methods_hideloading">hideLoading()</h3>
<div class="hideloading"><div class="hideloading-page"><p>Method to hide spinner after a request had been called.</p>
</div></div>
</li>
<li><h3 id="methods_importfromshareurl">importFromShareURL()</h3>
<div class="importfromshareurl"><div class="importfromshareurl-page"><p>This method will be called to initialize the table. 
It will call, for the first time, to get the table&#39;s data from the shared URL parameters, if defined.</p>
</div></div>
</li>
<li><h3 id="methods_init">init()</h3>
<div class="init"><div class="init-page"><p>This method will be called to initialize the table. 
It will call, for the first time, to get the table&#39;s data from remote server
after the importFromShareURL and checkTableConfig</p>
</div></div>
</li>
<li><h3 id="methods_initoptionajaxrequests">initOptionAjaxRequests()</h3>
<div class="initoptionajaxrequests"><div class="initoptionajaxrequests-page"><p>This method will be called to initialize the option ajax requests. 
Only request with option callAtInit = true will be called.</p>
</div></div>
</li>
<li><h3 id="methods_readtable">readTable()</h3>
<div class="readtable"><div class="readtable-page"><h4 id="methods_readtable_readtable">readTable</h4>
<p>This is the main method of ddttbTableController. 
It performs the request to remote server by using the tableQuery and tableState properties in the scope object.
The data fetched will be processed and stored in dttb.data </p>
</div></div>
</li>
<li><h3 id="methods_refreshtable">refreshTable()</h3>
<div class="refreshtable"><div class="refreshtable-page"><h4 id="methods_refreshtable_refreshtable">refreshTable</h4>
<p>The event will be triggered by clicking on the refresh button on the navigation.
It will call the readTable method.</p>
</div></div>
</li>
<li><h3 id="methods_scrolltoelement">scrollToElement()</h3>
<div class="scrolltoelement"><div class="scrolltoelement-page"><p>Method to scroll to the position of current table.</p>
</div></div>
</li>
<li><h3 id="methods_setallcolumnstitledirection">setAllColumnsTitleDirection()</h3>
<div class="setallcolumnstitledirection"><div class="setallcolumnstitledirection-page"><p>Method to hide spinner after a request had been called.</p>
</div></div>
</li>
<li><h3 id="methods_showloading">showLoading()</h3>
<div class="showloading"><div class="showloading-page"><p>Method to show spinner while a request is being performed.</p>
</div></div>
</li>
<li><h3 id="methods_submitcellupdating">submitCellUpdating(row, column)</h3>
<div class="submitcellupdating"><div class="submitcellupdating-page"><p>Method to submit the cell&#39;s changes to remote server.</p>
</div><h5 id="methods_submitcellupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="submitcellupdating-page"><p>The scope object of row where the cell is located.</p>
</div></td></tr><tr><td>column</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="submitcellupdating-page"><p>The scope object of column where the cell is located.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_submitfiltering">submitFiltering()</h3>
<div class="submitfiltering"><div class="submitfiltering-page"><p>Method to request data from remote server with the filter conditions.
The filter parameters are stored in the tableQuery object</p>
</div></div>
</li>
<li><h3 id="methods_triggerlocalsorting">triggerLocalSorting()</h3>
<div class="triggerlocalsorting"><div class="triggerlocalsorting-page"><p>Method to sort data locally, without request to server.</p>
</div></div>
</li>
</ul>
</div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_tablequery">tableQuery</h3>
<div class="tablequery"><div class="datatablar-controller-page datatablar-controller-tablequery-page"><h4 id="properties_tablequery_tablequery">tableQuery</h4>
<p>tableQuery is an object,
which includes the query conditions, 
used to fetch data from remote server API.</p>
</div></div>
</li>
<li><h3 id="properties_tablestate">tableState</h3>
<div class="tablestate"><div class="datatablar-controller-page datatablar-controller-tablestate-page"><h4 id="properties_tablestate_tablestate">tableState</h4>
<p>tableState is an object, 
which includes the properties as well as the states,
to manage the table data generated by the script.</p>
</div></div>
</li>
<li><h3 id="properties_dttb">dttb</h3>
<div class="dttb"><div class="dttb-page"><p>A named variable for the <code>this</code> keyword representing the ViewModel</p>
</div></div>
</li>
</ul>
</div>
<div class="member event"><h2 id="events">Events</h2>
<ul class="events"><li><h3 id="events_cancelcellupdating">cancelCellUpdating</h3>
<div class="cancelcellupdating"><div class="cancelcellupdating-page"><p>This event will be triggered when user cancel updating a cell&#39;s value.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_cancelcellupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="cancelcellupdating-page"><p>The scope object of row where the cell is located.</p>
</div></td></tr><tr><td>column</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="cancelcellupdating-page"><p>The scope object of column where the cell is located.</p>
</div></td></tr></tbody></table><h4 id="events_cancelcellupdating_example">Example</h4>
<div class="example"><div class="cancelcellupdating-page"><p>dttb.cancelCellUpdating(row, column);</p>
</div></div>
</div>
</li>
<li><h3 id="events_changelanguage">changeLanguage</h3>
<div class="changelanguage"><div class="changelanguage-page"><p>Event will be triggered when user clicks on the change language button on the navigation.
It will reload the page to update the dictionary in the $rootScope.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_changelanguage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>langKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="changelanguage-page"><p>Short key of languages, e.g., en-us, fr, it etc.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="events_createrow">createRow</h3>
<div class="createrow"><div class="createrow-page"><p>This event will be triggered when user click to the CREATE button on the navigation.
A form dialog will display.</p>
</div><div class="inline"></div>
<div class="inline"></div>
</div>
</li>
<li><h3 id="events_deleterow">deleteRow</h3>
<div class="deleterow"><div class="deleterow-page"><p>This event will be triggered when user want to delete a row by clicking on the trash button of it.
It will ask the confirmation of user.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_deleterow_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="deleterow-page"><p>The scope object of that row.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="events_gotopage">goToPage</h3>
<div class="gotopage"><div class="gotopage-page"><p>This event will be triggered if user want to go to other page.
It will request for new data from server.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_gotopage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>page</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="gotopage-page"><p>The page number to go.</p>
</div></td></tr></tbody></table><h4 id="events_gotopage_example">Example</h4>
<div class="example"><div class="gotopage-page"><p>dttb.goToPage(2);</p>
</div></div>
</div>
</li>
<li><h3 id="events_openfeedbackform">openFeedBackForm</h3>
<div class="openfeedbackform"><div class="openfeedbackform-page"><p>Show feedback dialog</p>
</div><div class="inline"></div>
<div class="inline"></div>
</div>
</li>
<li><h3 id="events_opensupportdialog">openSupportDialog</h3>
<div class="opensupportdialog"><div class="opensupportdialog-page"><p>Show support dialog.</p>
</div><div class="inline"></div>
<div class="inline"></div>
</div>
</li>
<li><h3 id="events_printtable">printTable</h3>
<div class="printtable"><div class="printtable-page"><p>Method to print the table data using the stored parameters in tableState object.
It will generate the table data in a plain HTML page and automatically excute the print action
It can be triggered by clicking on the PRINT button on the navigation.
The printing parameters will be configured in new dialog and then saved to the tableState object.</p>
</div><div class="inline"></div>
<div class="inline"></div>
</div>
</li>
<li><h3 id="events_resetfiltering">resetFiltering</h3>
<div class="resetfiltering"><div class="resetfiltering-page"><p>This event will be triggered when user wants to cancel filtering table&#39;s data.
All filters will be ereased, and be de-activated.
The table will be refereshed.</p>
</div><div class="inline"></div>
<div class="inline"></div>
</div>
</li>
<li><h3 id="events_resetlocalsorting">resetLocalSorting</h3>
<div class="resetlocalsorting"><div class="resetlocalsorting-page"><p>This event will be triggered when user wants to cancel local-sorting table&#39;s data.
The local sorting properties in tableState will be cleared.</p>
</div><div class="inline"></div>
<div class="inline"></div>
</div>
</li>
<li><h3 id="events_restorehiddencols">restoreHiddenCols</h3>
<div class="restorehiddencols"><div class="restorehiddencols-page"><p>This event will be triggered when user wants all columns will be visible.</p>
</div><div class="inline"></div>
<div class="inline"></div>
</div>
</li>
<li><h3 id="events_selectallrows">selectAllRows</h3>
<div class="selectallrows"><div class="selectallrows-page"><p>This event will be triggered if user checks a box to select all rows.
It will check/un-check all rows on the table.</p>
</div><div class="inline"></div>
<div class="inline"></div>
</div>
</li>
<li><h3 id="events_selectnumrowsperpage">selectNumRowsPerPage</h3>
<div class="selectnumrowsperpage"><div class="selectnumrowsperpage-page"><p>This event will be triggered if user want to change the number of rows displayed on a page.
The number of rows per page is stored in the tableQuery object.
It will request the new data from server and start at page 1.</p>
</div><div class="inline"></div>
<div class="inline"></div>
</div>
</li>
<li><h3 id="events_selectrow">selectRow</h3>
<div class="selectrow"><div class="selectrow-page"><p>This event will be triggered if user checks a box to select a row.
It will check/un-check all a row on the table.</p>
</div><div class="inline"></div>
<div class="inline"></div>
</div>
</li>
<li><h3 id="events_sharetableurl">shareTableUrl</h3>
<div class="sharetableurl"><div class="sharetableurl-page"><p>This event will be triggered when user wants to share the current table&#39;s state to his/her colleague.
For instance, if he are filtering some data, highlighting some specific cells
and want his colleague to have a look at that special data. 
He can use this method to generate a URL and send to the colleague.
By doing so, the colleague does need to perform any filter, highlight, etc. action. 
They all see the same table&#39;s state as each other.</p>
</div><div class="inline"></div>
<div class="inline"></div>
</div>
</li>
<li><h3 id="events_sortbycol">sortByCol</h3>
<div class="sortbycol"><div class="sortbycol-page"><p>This event is triggered when user want to sort table&#39;s data by a column and with request to remote server.
The remove sorting parameters are stored in tableQuery object.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_sortbycol_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>columnKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="sortbycol-page"><p>Unique key of the column</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="events_sortbycollocal">sortByColLocal</h3>
<div class="sortbycollocal"><div class="sortbycollocal-page"><p>This event is triggered when user selected a column to sort by locally.
The local sorting parameters are stored in tableState object.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_sortbycollocal_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>columnKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="sortbycollocal-page"><p>Unique key of the column</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="events_togglecellhighlight">toggleCellHighlight</h3>
<div class="togglecellhighlight"><div class="togglecellhighlight-page"><p>It will highlight that column&#39;s cells whose data is validated by the highlight condition.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_togglecellhighlight_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>column</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="togglecellhighlight-page"><p>The column will be highlighted.</p>
</div></td></tr><tr><td>highlight</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="togglecellhighlight-page"><p>The parameters highlight object, which includes VALUE, CONDITION, TYPE, and ACTIVE properties</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="events_togglesidebarpanel">toggleSidebarPanel</h3>
<div class="togglesidebarpanel"><div class="togglesidebarpanel-page"><p>Method show / hide sequentially the panels on the side of data-tablar table.
It can be triggered by clicking on the corresponding button on the navigation.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_togglesidebarpanel_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>panelKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="togglesidebarpanel-page"><p>The key for each panel.
E.g: &#39;filter&#39;; &#39;highlight&#39;; &#39;arrange-columns&#39;; &#39;local-sorting-columns&#39;</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="events_triggercellupdating">triggerCellUpdating</h3>
<div class="triggercellupdating"><div class="triggercellupdating-page"><p>This event will be triggered when user double clicks on the cell to mofify the value.
User will be allowed to change the cell&#39;s value if he/she doesn&#39;t perform any other actions.
The changes will be updated to server by an AJAX request.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_triggercellupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="triggercellupdating-page"><p>The scope object of row where the cell is located.</p>
</div></td></tr><tr><td>column</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="triggercellupdating-page"><p>The scope object of column where the cell is located.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="events_updaterow">updateRow</h3>
<div class="updaterow"><div class="updaterow-page"><p>This event will be triggered when user click to edit the row&#39;s data.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_updaterow_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="updaterow-page"><p>The scope object of row.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="events_viewrowdetail">viewRowDetail</h3>
<div class="viewrowdetail"><div class="viewrowdetail-page"><p>This event will be triggered when user click to see detail of a row.
It will diplay a dialog showing details of that row. </p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_viewrowdetail_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="viewrowdetail-page"><p>The scope object of that row.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="events_zoominimage">zoomInImage</h3>
<div class="zoominimage"><div class="zoominimage-page"><p>This event will be triggered when user click on an image to view it larger.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_zoominimage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>imageSrc</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="zoominimage-page"><p>Source to the image</p>
</div></td></tr><tr><td>imageLabel</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="zoominimage-page"><p>Label of the image</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
