<h1><code ng:non-bindable="">dttbCellconfig</code>
<div><span class="hint">filter in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-filter-page datatablar-filter-dttbcellconfig-page"><h3 id="description_dttbcellconfig">dttbCellconfig</h3>
<p>Filter in the dataTablar.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> dttbCellconfig_expression | dttbCellconfig <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('dttbCellconfig')()</code>
</div>
</div>
</div>
