<h1><code ng:non-bindable="">dttbCellFormat</code>
<div><span class="hint">filter in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-filter-page datatablar-filter-dttbcellformat-page"><h3 id="description_dttbcellformat">dttbCellFormat</h3>
<p>This filter is used to customize diplays of value on table. E.g. number, text, array, date etc.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/moment">moment</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/DTTB_DATE_DISPLAY_FORMAT">DTTB_DATE_DISPLAY_FORMAT</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> dttbCellFormat_expression | dttbCellFormat:displayAs:displayAsConfig <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('dttbCellFormat')(input, displayAs, displayAsConfig)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>input</td><td><a href="" class="label type-hint type-hint-string">string</a><a href="" class="label type-hint type-hint-boolean">boolean</a><a href="" class="label type-hint type-hint-number">number</a><a href="" class="label type-hint type-hint-date">date</a><a href="" class="label type-hint type-hint-array">array</a><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-filter-page datatablar-filter-dttbcellformat-page"><p>Value input</p>
</div></td></tr><tr><td>displayAs</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-filter-page datatablar-filter-dttbcellformat-page"><p>Type of input&#39;s value. E.g. text, array, number, date and boolean.</p>
</div></td></tr><tr><td>displayAsConfig</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-filter-page datatablar-filter-dttbcellformat-page"><p>displayAsConfiguration object</p>
</div></td></tr></tbody></table></div>
</div>
