<h1><code ng:non-bindable="">dttbformRadio</code>
<div><span class="hint">directive in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-directive-page datatablar-directive-dttbformradio-page"><h3 id="description_dttbformradio">dttbformRadio</h3>
<p>Form element as radio is used while cell updating, row creating, row updating etc.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;dttbform-radio
       model="{scope}"
       label="{string}"
       validations="{object}"
       config="{object}"
       valid="{boolean}"
       pristine="{boolean}"&gt;
&lt;/dttbform-radio&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>model</td><td><a href="" class="label type-hint type-hint-scope">scope</a></td><td><div class="datatablar-directive-page datatablar-directive-dttbformradio-page"><p>Value of form</p>
</div></td></tr><tr><td>label</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-directive-page datatablar-directive-dttbformradio-page"><p>Label of form</p>
</div></td></tr><tr><td>validations</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-directive-page datatablar-directive-dttbformradio-page"><p>Validation configuration object</p>
</div></td></tr><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-directive-page datatablar-directive-dttbformradio-page"><p>Other configurations object</p>
</div></td></tr><tr><td>valid</td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="datatablar-directive-page datatablar-directive-dttbformradio-page"><p>State of validation</p>
</div></td></tr><tr><td>pristine</td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="datatablar-directive-page datatablar-directive-dttbformradio-page"><p>Determine whether user has changed the form&#39;s value.</p>
</div></td></tr></tbody></table></div>
</div>
