<h1><code ng:non-bindable="">dttbFormTextarea</code>
<div><span class="hint">directive in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-directive-page datatablar-directive-dttbformtextarea-page"><h3 id="description_dttbformtextarea">dttbFormTextarea</h3>
<p>Form element as textarea for data-tablar table.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;dttb-form-textarea&gt;
&lt;/dttb-form-textarea&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
