<h1><code ng:non-bindable="">validator</code>
<div><span class="hint">service in module <code ng:non-bindable="">dataTablarApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablarapp-validator-page"><h3 id="description_validator">validator</h3>
<p>Factory in the dataTablarApp.</p>
</div></div>
</div>
