<h1><code ng:non-bindable="">abc</code>
<div><span class="hint">directive in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;abc&gt;
&lt;/abc&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
<li>This directive executes at priority level 0.</li>
</ul>
</div>
</div>
</div>
