<h1><code ng:non-bindable="">dttbTblController</code>
<div><span class="hint">directive in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-directive-page datatablar-directive-dttbtblcontroller-page"><p>Description for works controller. All methods will be writen later</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$route">$route</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/helper">helper</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/Notification">Notification</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/moment">moment</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ngDialog">ngDialog</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$translate">$translate</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transporter">transporter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/exporter">exporter</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY dttb-tbl-controller&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_activatehighlight">activateHighlight(entity)</h3>
<div class="activatehighlight"><div class="activatehighlight-page"><p>Method to activateHighlight data form the backend api</p>
</div><h5 id="methods_activatehighlight_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="activatehighlight-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_activatehighlight_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="activatehighlight-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_activatehighlight_example">Example</h4>
<div class="example"><div class="activatehighlight-page"><p>controller.activateHighlight(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_cancelcellupdating">cancelCellUpdating(entity)</h3>
<div class="cancelcellupdating"><div class="cancelcellupdating-page"><p>Method to cancelCellUpdating data form the backend api</p>
</div><h5 id="methods_cancelcellupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="cancelcellupdating-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_cancelcellupdating_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="cancelcellupdating-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_cancelcellupdating_example">Example</h4>
<div class="example"><div class="cancelcellupdating-page"><p>controller.cancelCellUpdating(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_cancelrowcreating">cancelRowCreating(entity)</h3>
<div class="cancelrowcreating"><div class="cancelrowcreating-page"><p>Method to cancelRowCreating data form the backend api</p>
</div><h5 id="methods_cancelrowcreating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="cancelrowcreating-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_cancelrowcreating_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="cancelrowcreating-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_cancelrowcreating_example">Example</h4>
<div class="example"><div class="cancelrowcreating-page"><p>controller.cancelRowCreating(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_cancelrowupdating">cancelRowUpdating(entity)</h3>
<div class="cancelrowupdating"><div class="cancelrowupdating-page"><p>Method to cancelRowUpdating data form the backend api</p>
</div><h5 id="methods_cancelrowupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="cancelrowupdating-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_cancelrowupdating_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="cancelrowupdating-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_cancelrowupdating_example">Example</h4>
<div class="example"><div class="cancelrowupdating-page"><p>controller.cancelRowUpdating(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_canceltablefiltering">cancelTableFiltering(entity)</h3>
<div class="canceltablefiltering"><div class="canceltablefiltering-page"><p>Method to cancelTableFiltering data form the backend api</p>
</div><h5 id="methods_canceltablefiltering_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="canceltablefiltering-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_canceltablefiltering_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="canceltablefiltering-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_canceltablefiltering_example">Example</h4>
<div class="example"><div class="canceltablefiltering-page"><p>controller.cancelTableFiltering(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_changelanguage">changeLanguage(entity)</h3>
<div class="changelanguage"><div class="changelanguage-page"><p>Method to changeLanguage data form the backend api</p>
</div><h5 id="methods_changelanguage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="changelanguage-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_changelanguage_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="changelanguage-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_changelanguage_example">Example</h4>
<div class="example"><div class="changelanguage-page"><p>controller.changeLanguage(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_generatepagination">generatePagination(entity)</h3>
<div class="generatepagination"><div class="generatepagination-page"><p>Method to generatePagination data form the backend api</p>
</div><h5 id="methods_generatepagination_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="generatepagination-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_generatepagination_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="generatepagination-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_generatepagination_example">Example</h4>
<div class="example"><div class="generatepagination-page"><p>controller.generatePagination(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_gotopage">goToPage(entity)</h3>
<div class="gotopage"><div class="gotopage-page"><p>Method to goToPage data form the backend api</p>
</div><h5 id="methods_gotopage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="gotopage-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_gotopage_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="gotopage-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_gotopage_example">Example</h4>
<div class="example"><div class="gotopage-page"><p>controller.goToPage(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_handlelocalfilter">handleLocalFilter(entity)</h3>
<div class="handlelocalfilter"><div class="handlelocalfilter-page"><p>Method to handleLocalFilter data form the backend api</p>
</div><h5 id="methods_handlelocalfilter_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="handlelocalfilter-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_handlelocalfilter_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="handlelocalfilter-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_handlelocalfilter_example">Example</h4>
<div class="example"><div class="handlelocalfilter-page"><p>controller.handleLocalFilter(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_hideloading">hideLoading(entity)</h3>
<div class="hideloading"><div class="hideloading-page"><p>Method to hideLoading data form the backend api</p>
</div><h5 id="methods_hideloading_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="hideloading-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_hideloading_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="hideloading-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_hideloading_example">Example</h4>
<div class="example"><div class="hideloading-page"><p>controller.hideLoading(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_init">init(entity)</h3>
<div class="init"><div class="init-page"><p>Method to init data form the backend api</p>
</div><h5 id="methods_init_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="init-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_init_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="init-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_init_example">Example</h4>
<div class="example"><div class="init-page"><p>controller.init(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_initfilterfield">initFilterField(entity)</h3>
<div class="initfilterfield"><div class="initfilterfield-page"><p>Method to initFilterField data form the backend api</p>
</div><h5 id="methods_initfilterfield_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="initfilterfield-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_initfilterfield_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="initfilterfield-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_initfilterfield_example">Example</h4>
<div class="example"><div class="initfilterfield-page"><p>controller.initFilterField(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_initupdateajaxcolumn">initUpdateAjaxColumn(entity)</h3>
<div class="initupdateajaxcolumn"><div class="initupdateajaxcolumn-page"><p>Method to initUpdateAjaxColumn data form the backend api</p>
</div><h5 id="methods_initupdateajaxcolumn_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="initupdateajaxcolumn-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_initupdateajaxcolumn_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="initupdateajaxcolumn-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_initupdateajaxcolumn_example">Example</h4>
<div class="example"><div class="initupdateajaxcolumn-page"><p>controller.initUpdateAjaxColumn(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_localsortingbycol">localSortingByCol(entity)</h3>
<div class="localsortingbycol"><div class="localsortingbycol-page"><p>Method to localSortingByCol data form the backend api</p>
</div><h5 id="methods_localsortingbycol_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="localsortingbycol-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_localsortingbycol_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="localsortingbycol-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_localsortingbycol_example">Example</h4>
<div class="example"><div class="localsortingbycol-page"><p>controller.localSortingByCol(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_printtable">printTable(entity)</h3>
<div class="printtable"><div class="printtable-page"><p>Method to printTable data form the backend api</p>
</div><h5 id="methods_printtable_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="printtable-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_printtable_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="printtable-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_printtable_example">Example</h4>
<div class="example"><div class="printtable-page"><p>controller.printTable(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_restorehiddencols">restoreHiddenCols(entity)</h3>
<div class="restorehiddencols"><div class="restorehiddencols-page"><p>Method to restoreHiddenCols data form the backend api</p>
</div><h5 id="methods_restorehiddencols_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="restorehiddencols-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_restorehiddencols_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="restorehiddencols-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_restorehiddencols_example">Example</h4>
<div class="example"><div class="restorehiddencols-page"><p>controller.restoreHiddenCols(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_selectallrows">selectAllRows(entity)</h3>
<div class="selectallrows"><div class="selectallrows-page"><p>Method to selectAllRows data form the backend api</p>
</div><h5 id="methods_selectallrows_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="selectallrows-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_selectallrows_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="selectallrows-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_selectallrows_example">Example</h4>
<div class="example"><div class="selectallrows-page"><p>controller.selectAllRows(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_selectnumrowsperpage">selectNumRowsPerPage(entity)</h3>
<div class="selectnumrowsperpage"><div class="selectnumrowsperpage-page"><p>Method to selectNumRowsPerPage data form the backend api</p>
</div><h5 id="methods_selectnumrowsperpage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="selectnumrowsperpage-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_selectnumrowsperpage_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="selectnumrowsperpage-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_selectnumrowsperpage_example">Example</h4>
<div class="example"><div class="selectnumrowsperpage-page"><p>controller.selectNumRowsPerPage(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_selectrow">selectRow(entity)</h3>
<div class="selectrow"><div class="selectrow-page"><p>Method to selectRow data form the backend api</p>
</div><h5 id="methods_selectrow_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="selectrow-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_selectrow_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="selectrow-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_selectrow_example">Example</h4>
<div class="example"><div class="selectrow-page"><p>controller.selectRow(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_showloading">showLoading(entity)</h3>
<div class="showloading"><div class="showloading-page"><p>Method to showLoading data form the backend api</p>
</div><h5 id="methods_showloading_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="showloading-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_showloading_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="showloading-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_showloading_example">Example</h4>
<div class="example"><div class="showloading-page"><p>controller.showLoading(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_sortbycol">sortByCol(entity)</h3>
<div class="sortbycol"><div class="sortbycol-page"><p>Method to sortByCol data form the backend api</p>
</div><h5 id="methods_sortbycol_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="sortbycol-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_sortbycol_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="sortbycol-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_sortbycol_example">Example</h4>
<div class="example"><div class="sortbycol-page"><p>controller.sortByCol(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submitcellupdating">submitCellUpdating(entity)</h3>
<div class="submitcellupdating"><div class="submitcellupdating-page"><p>Method to submitCellUpdating data form the backend api</p>
</div><h5 id="methods_submitcellupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="submitcellupdating-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_submitcellupdating_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="submitcellupdating-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_submitcellupdating_example">Example</h4>
<div class="example"><div class="submitcellupdating-page"><p>controller.submitCellUpdating(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submitrowcreating">submitRowCreating(entity)</h3>
<div class="submitrowcreating"><div class="submitrowcreating-page"><p>Method to submitRowCreating data form the backend api</p>
</div><h5 id="methods_submitrowcreating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="submitrowcreating-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_submitrowcreating_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="submitrowcreating-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_submitrowcreating_example">Example</h4>
<div class="example"><div class="submitrowcreating-page"><p>controller.submitRowCreating(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submitrowdeleting">submitRowDeleting(entity)</h3>
<div class="submitrowdeleting"><div class="submitrowdeleting-page"><p>Method to submitRowDeleting data form the backend api</p>
</div><h5 id="methods_submitrowdeleting_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="submitrowdeleting-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_submitrowdeleting_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="submitrowdeleting-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_submitrowdeleting_example">Example</h4>
<div class="example"><div class="submitrowdeleting-page"><p>controller.submitRowDeleting(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submitrowupdating">submitRowUpdating(entity)</h3>
<div class="submitrowupdating"><div class="submitrowupdating-page"><p>Method to submitRowUpdating data form the backend api</p>
</div><h5 id="methods_submitrowupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="submitrowupdating-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_submitrowupdating_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="submitrowupdating-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_submitrowupdating_example">Example</h4>
<div class="example"><div class="submitrowupdating-page"><p>controller.submitRowUpdating(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submittablefiltering">submitTableFiltering(entity)</h3>
<div class="submittablefiltering"><div class="submittablefiltering-page"><p>Method to submitTableFiltering data form the backend api</p>
</div><h5 id="methods_submittablefiltering_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="submittablefiltering-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_submittablefiltering_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="submittablefiltering-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_submittablefiltering_example">Example</h4>
<div class="example"><div class="submittablefiltering-page"><p>controller.submitTableFiltering(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submittablereading">submitTableReading(entity)</h3>
<div class="submittablereading"><div class="submittablereading-page"><p>Method to submitTableReading data form the backend api</p>
</div><h5 id="methods_submittablereading_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="submittablereading-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_submittablereading_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="submittablereading-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_submittablereading_example">Example</h4>
<div class="example"><div class="submittablereading-page"><p>controller.submitTableReading(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_triggercellupdating">triggerCellUpdating(entity)</h3>
<div class="triggercellupdating"><div class="triggercellupdating-page"><p>Method to triggerCellUpdating data form the backend api</p>
</div><h5 id="methods_triggercellupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="triggercellupdating-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_triggercellupdating_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="triggercellupdating-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_triggercellupdating_example">Example</h4>
<div class="example"><div class="triggercellupdating-page"><p>controller.triggerCellUpdating(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_triggerexportcsv">triggerExportCSV(entity)</h3>
<div class="triggerexportcsv"><div class="triggerexportcsv-page"><p>Method to triggerExportCSV data form the backend api</p>
</div><h5 id="methods_triggerexportcsv_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="triggerexportcsv-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_triggerexportcsv_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="triggerexportcsv-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_triggerexportcsv_example">Example</h4>
<div class="example"><div class="triggerexportcsv-page"><p>controller.triggerExportCSV(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_triggerlocalsorting">triggerLocalSorting(entity)</h3>
<div class="triggerlocalsorting"><div class="triggerlocalsorting-page"><p>Method to triggerLocalSorting data form the backend api</p>
</div><h5 id="methods_triggerlocalsorting_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="triggerlocalsorting-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_triggerlocalsorting_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="triggerlocalsorting-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_triggerlocalsorting_example">Example</h4>
<div class="example"><div class="triggerlocalsorting-page"><p>controller.triggerLocalSorting(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_triggerrowcreating">triggerRowCreating(entity)</h3>
<div class="triggerrowcreating"><div class="triggerrowcreating-page"><p>Method to triggerRowCreating data form the backend api</p>
</div><h5 id="methods_triggerrowcreating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="triggerrowcreating-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_triggerrowcreating_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="triggerrowcreating-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_triggerrowcreating_example">Example</h4>
<div class="example"><div class="triggerrowcreating-page"><p>controller.triggerRowCreating(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_triggerrowdeleting">triggerRowDeleting(entity)</h3>
<div class="triggerrowdeleting"><div class="triggerrowdeleting-page"><p>Method to triggerRowDeleting data form the backend api</p>
</div><h5 id="methods_triggerrowdeleting_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="triggerrowdeleting-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_triggerrowdeleting_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="triggerrowdeleting-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_triggerrowdeleting_example">Example</h4>
<div class="example"><div class="triggerrowdeleting-page"><p>controller.triggerRowDeleting(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_triggerrowupdating">triggerRowUpdating(entity)</h3>
<div class="triggerrowupdating"><div class="triggerrowupdating-page"><p>Method to triggerRowUpdating data form the backend api</p>
</div><h5 id="methods_triggerrowupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="triggerrowupdating-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_triggerrowupdating_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="triggerrowupdating-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_triggerrowupdating_example">Example</h4>
<div class="example"><div class="triggerrowupdating-page"><p>controller.triggerRowUpdating(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_triggertablefiltering">triggerTableFiltering(entity)</h3>
<div class="triggertablefiltering"><div class="triggertablefiltering-page"><p>Method to triggerTableFiltering data form the backend api</p>
</div><h5 id="methods_triggertablefiltering_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="triggertablefiltering-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_triggertablefiltering_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="triggertablefiltering-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_triggertablefiltering_example">Example</h4>
<div class="example"><div class="triggertablefiltering-page"><p>controller.triggerTableFiltering(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_viewrowdetail">viewRowDetail(entity)</h3>
<div class="viewrowdetail"><div class="viewrowdetail-page"><p>Method to viewRowDetail data form the backend api</p>
</div><h5 id="methods_viewrowdetail_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="viewrowdetail-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_viewrowdetail_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="viewrowdetail-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_viewrowdetail_example">Example</h4>
<div class="example"><div class="viewrowdetail-page"><p>controller.viewRowDetail(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_watchcollection">watchCollection(entity)</h3>
<div class="watchcollection"><div class="watchcollection-page"><p>Method to watchCollection data form the backend api</p>
</div><h5 id="methods_watchcollection_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="watchcollection-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_watchcollection_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="watchcollection-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_watchcollection_example">Example</h4>
<div class="example"><div class="watchcollection-page"><p>controller.watchCollection(id);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_zoominimage">zoomInImage(entity)</h3>
<div class="zoominimage"><div class="zoominimage-page"><p>Method to zoomInImage data form the backend api</p>
</div><h5 id="methods_zoominimage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entity</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="zoominimage-page"><p>id</p>
</div></td></tr></tbody></table><h5 id="methods_zoominimage_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-httppromise">httpPromise</a></td><td><div class="zoominimage-page"><p>resolve with fetched data, or fails with error description.</p>
</div></td></tr></table><h4 id="methods_zoominimage_example">Example</h4>
<div class="example"><div class="zoominimage-page"><p>controller.zoomInImage(id);</p>
</div></div>
</div>
</li>
</ul>
</div>
</div>
