<h1><code ng:non-bindable="">dttbRequestService</code>
<div><span class="hint">service in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-service-page datatablar-service-dttbrequestservice-page"><h3 id="description_dttbrequestservice">dttbRequestService</h3>
<p>Provided services for communicating with remote server by HTTP requests.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/Notification">Notification</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_callrequest">callRequest(requestConfig, conversionRequest, conversionResponse)</h3>
<div class="callrequest"><h5 id="methods_callrequest_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>requestConfig</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-dttbrequestservice-callrequest-page"><p>HTTP request configuration.</p>
</div></td></tr><tr><td>conversionRequest</td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="datatablar-service-page datatablar-service-dttbrequestservice-callrequest-page"><p>Function to be called before requesting</p>
</div></td></tr><tr><td>conversionResponse</td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="datatablar-service-page datatablar-service-dttbrequestservice-callrequest-page"><p>Function to be called after requesting</p>
</div></td></tr></tbody></table><h5 id="methods_callrequest_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-dttbrequestservice-callrequest-page"><p>The HTML generated page includes table codes.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_handleoptionajaxrequest">handleOptionAjaxRequest()</h3>
<div class="handleoptionajaxrequest"><div class="datatablar-service-page datatablar-service-dttbrequestservice-handleoptionajaxrequest-page"><p>Bind the window to this event in order to prevent
accidentally leaving the page while
doing action like: UDPATE, DELETE, CREATE.</p>
</div></div>
</li>
<li><h3 id="methods_handlerouteparams">handleRouteParams(url, row)</h3>
<div class="handlerouteparams"><h5 id="methods_handlerouteparams_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>url</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-dttbrequestservice-handlerouteparams-page"><p>Url resource</p>
</div></td></tr><tr><td>row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-dttbrequestservice-handlerouteparams-page"><p>Data row.</p>
</div></td></tr></tbody></table><h5 id="methods_handlerouteparams_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-dttbrequestservice-handlerouteparams-page"><p>The formatted url</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_inithttpobject">initHttpObject(httpConfig)</h3>
<div class="inithttpobject"><div class="datatablar-service-page datatablar-service-dttbrequestservice-inithttpobject-page"><p>Initialize params; data; headers for http config object</p>
</div><h5 id="methods_inithttpobject_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>httpConfig</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-dttbrequestservice-inithttpobject-page"><p>Reference of the http config object.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
