<h1><code ng:non-bindable="">dttbformSxxxelectcascade</code>
<div><span class="hint">directive in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-directive-page datatablar-directive-dttbformsxxxelectcascade-page"><p>Resize textarea automatically to the size of its text content.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;select dttbform-sxxxelectcascade&gt;
   ...
&lt;/select&gt;</pre>
</div>
</div>
