<h1><code ng:non-bindable="">dttbTbl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"></div>
</div>
