<h1><code ng:non-bindable="">tableState</code>
<div><span class="hint">object in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-controller-page datatablar-controller-tablestate-page"><h3 id="description_tablestate">tableState</h3>
<p>Object of the dttbTbl directive</p>
</div></div>
</div>
