<h1><code ng:non-bindable="">dttbformSelectcascade</code>
<div><span class="hint">directive in module <code ng:non-bindable="">dataTablarApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablarapp-directive-page datatablarapp-directive-dttbformselectcascade-page"><p>Resize textarea automatically to the size of its text content.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;select dttbform-selectcascade&gt;
   ...
&lt;/select&gt;</pre>
</div>
</div>
