<h1><code ng:non-bindable="">dictionaryFactory</code>
<div><span class="hint">service in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-dictionaryfactory-page"><h3 id="description_dictionaryfactory">dictionaryFactory</h3>
<p>Factory in the dataTablar.</p>
</div></div>
</div>
