<h1><code ng:non-bindable="">validatorService</code>
<div><span class="hint">service in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-service-page datatablar-service-validatorservice-page"><h3 id="description_validatorservice">validatorService</h3>
<p>Provided services for form validations.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/moment">moment</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_checkcontaining">checkContaining(value, reference)</h3>
<div class="checkcontaining"><div class="datatablar-service-page datatablar-service-validatorservice-checkcontaining-page"><p>Check whether a string/number/array contains a specific value.</p>
</div><h5 id="methods_checkcontaining_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-string">string</a><a href="" class="label type-hint type-hint-number">number</a><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkcontaining-page"><p>String/number/array to check in.</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-string">string</a><a href="" class="label type-hint type-hint-number">number</a><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkcontaining-page"><p>Value to be checked.</p>
</div></td></tr></tbody></table><h5 id="methods_checkcontaining_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkcontaining-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checkdatesince">checkDateSince(value, reference)</h3>
<div class="checkdatesince"><div class="datatablar-service-page datatablar-service-validatorservice-checkdatesince-page"><p>Check if date is after a date</p>
</div><h5 id="methods_checkdatesince_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-date">date</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkdatesince-page"><p>Date to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-date">date</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkdatesince-page"><p>Milestone to check with.</p>
</div></td></tr></tbody></table><h5 id="methods_checkdatesince_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkdatesince-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checkdateuntil">checkDateUntil(value, reference)</h3>
<div class="checkdateuntil"><div class="datatablar-service-page datatablar-service-validatorservice-checkdateuntil-page"><p>Check if date is before a date</p>
</div><h5 id="methods_checkdateuntil_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-date">date</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkdateuntil-page"><p>Date to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-date">date</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkdateuntil-page"><p>Milestone to check with.</p>
</div></td></tr></tbody></table><h5 id="methods_checkdateuntil_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkdateuntil-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checkequalto">checkEqualTo(value, reference)</h3>
<div class="checkequalto"><div class="datatablar-service-page datatablar-service-validatorservice-checkequalto-page"><p>Compare 2 number</p>
</div><h5 id="methods_checkequalto_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkequalto-page"><p>Number to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkequalto-page"><p>Number to check with</p>
</div></td></tr></tbody></table><h5 id="methods_checkequalto_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkequalto-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checkgreaterequal">checkGreaterEqual(value, reference)</h3>
<div class="checkgreaterequal"><div class="datatablar-service-page datatablar-service-validatorservice-checkgreaterequal-page"><p>Compare 2 number</p>
</div><h5 id="methods_checkgreaterequal_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkgreaterequal-page"><p>Number to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkgreaterequal-page"><p>Number to check with</p>
</div></td></tr></tbody></table><h5 id="methods_checkgreaterequal_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkgreaterequal-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checkinarray">checkInArray(value, reference)</h3>
<div class="checkinarray"><div class="datatablar-service-page datatablar-service-validatorservice-checkinarray-page"><p>Check if a value is in array</p>
</div><h5 id="methods_checkinarray_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-value">value</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkinarray-page"><p>Value to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkinarray-page"><p>Array to check with</p>
</div></td></tr></tbody></table><h5 id="methods_checkinarray_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkinarray-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checklengthmax">checkLengthMax(value, reference)</h3>
<div class="checklengthmax"><div class="datatablar-service-page datatablar-service-validatorservice-checklengthmax-page"><p>Check maximum length of string</p>
</div><h5 id="methods_checklengthmax_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklengthmax-page"><p>String text to be checked.</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklengthmax-page"><p>The maximum length, e.g., 5, 15, etc.</p>
</div></td></tr></tbody></table><h5 id="methods_checklengthmax_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklengthmax-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checklengthmin">checkLengthMin(value, reference)</h3>
<div class="checklengthmin"><div class="datatablar-service-page datatablar-service-validatorservice-checklengthmin-page"><p>Check minimum length of string</p>
</div><h5 id="methods_checklengthmin_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklengthmin-page"><p>String text to be checked.</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklengthmin-page"><p>The minimum length, e.g., 5, 15, etc.</p>
</div></td></tr></tbody></table><h5 id="methods_checklengthmin_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklengthmin-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checklessequal">checkLessEqual(value, reference)</h3>
<div class="checklessequal"><div class="datatablar-service-page datatablar-service-validatorservice-checklessequal-page"><p>Compare 2 number</p>
</div><h5 id="methods_checklessequal_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklessequal-page"><p>Number to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklessequal-page"><p>Number to check with</p>
</div></td></tr></tbody></table><h5 id="methods_checklessequal_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklessequal-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checklessthan">checkLessThan(value, reference)</h3>
<div class="checklessthan"><div class="datatablar-service-page datatablar-service-validatorservice-checklessthan-page"><p>Compare 2 number</p>
</div><h5 id="methods_checklessthan_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklessthan-page"><p>Number to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklessthan-page"><p>Number to check with</p>
</div></td></tr></tbody></table><h5 id="methods_checklessthan_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checklessthan-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checknot">checkNot(value, reference)</h3>
<div class="checknot"><div class="datatablar-service-page datatablar-service-validatorservice-checknot-page"><p>Check inequality</p>
</div><h5 id="methods_checknot_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-value">value</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checknot-page"><p>Value to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-value">value</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checknot-page"><p>Value to check with.</p>
</div></td></tr></tbody></table><h5 id="methods_checknot_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checknot-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checkoptionsmax">checkOptionsMax(value, reference)</h3>
<div class="checkoptionsmax"><div class="datatablar-service-page datatablar-service-validatorservice-checkoptionsmax-page"><p>Check maximum length of array.</p>
</div><h5 id="methods_checkoptionsmax_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkoptionsmax-page"><p>Array to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkoptionsmax-page"><p>Maximum length of array.</p>
</div></td></tr></tbody></table><h5 id="methods_checkoptionsmax_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkoptionsmax-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checkoptionsmin">checkOptionsMin(value, reference)</h3>
<div class="checkoptionsmin"><div class="datatablar-service-page datatablar-service-validatorservice-checkoptionsmin-page"><p>Check minimum length of array.</p>
</div><h5 id="methods_checkoptionsmin_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkoptionsmin-page"><p>Array to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkoptionsmin-page"><p>Minimum length of array.</p>
</div></td></tr></tbody></table><h5 id="methods_checkoptionsmin_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkoptionsmin-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checkrequired">checkRequired(value, required)</h3>
<div class="checkrequired"><div class="datatablar-service-page datatablar-service-validatorservice-checkrequired-page"><p>checkRequired() returns boolean
based on the passed in tag name</p>
</div><h5 id="methods_checkrequired_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-value">value</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkrequired-page"><p>The value to be checked</p>
</div></td></tr><tr><td>required</td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkrequired-page"><p>Validation condition. True - It is required.</p>
</div></td></tr></tbody></table><h5 id="methods_checkrequired_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkrequired-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checkrequiredstrictly">checkRequiredStrictly(value, reference)</h3>
<div class="checkrequiredstrictly"><div class="datatablar-service-page datatablar-service-validatorservice-checkrequiredstrictly-page"><p>Validate required strictly.</p>
</div><h5 id="methods_checkrequiredstrictly_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-any">any</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkrequiredstrictly-page"><p>Number to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-any">any</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkrequiredstrictly-page"><p>Number to check with</p>
</div></td></tr></tbody></table><h5 id="methods_checkrequiredstrictly_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkrequiredstrictly-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checktype">checkType(value, reference)</h3>
<div class="checktype"><div class="datatablar-service-page datatablar-service-validatorservice-checktype-page"><p>Check special types. E.g. email, url, etc.</p>
</div><h5 id="methods_checktype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-number">number</a><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checktype-page"><p>Value to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checktype-page"><p>Type to check with</p>
</div></td></tr></tbody></table><h5 id="methods_checktype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checktype-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_checkwithserver">checkWithServer()</h3>
<div class="checkwithserver"><div class="datatablar-service-page datatablar-service-validatorservice-checkwithserver-page"><p>checkWithServer() returns boolean value
based on the passed in tag name</p>
</div><h5 id="methods_checkwithserver_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-checkwithserver-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_generateprinttable">generatePrintTable()</h3>
<div class="generateprinttable"><div class="datatablar-service-page datatablar-service-validatorservice-generateprinttable-page"><p>check regex</p>
</div><h5 id="methods_generateprinttable_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-generateprinttable-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_generateprinttable">generatePrintTable(value, reference)</h3>
<div class="generateprinttable"><div class="datatablar-service-page datatablar-service-validatorservice-generateprinttable-page"><p>Compare 2 number</p>
</div><h5 id="methods_generateprinttable_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-generateprinttable-page"><p>Number to be checked</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-generateprinttable-page"><p>Number to check with</p>
</div></td></tr></tbody></table><h5 id="methods_generateprinttable_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-generateprinttable-page"><p>true/false - valid/invalid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getvartype">getVarType(obj)</h3>
<div class="getvartype"><div class="datatablar-service-page datatablar-service-validatorservice-getvartype-page"><p>getVarType(obj) returns string
based on the value passed in obj</p>
</div><h5 id="methods_getvartype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>obj</td><td><a href="" class="label type-hint type-hint-any">any</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-getvartype-page"><p>Value to be checked type</p>
</div></td></tr></tbody></table><h5 id="methods_getvartype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-validatorservice-getvartype-page"><p>type of obj</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
