<h1><code ng:non-bindable="">dttbTblController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-controller-page datatablar-controller-dttbtblcontroller-page"><h3 id="description_dttbtblcontroller">dttbTblController</h3>
<p>This controller is responsible for showing the details of the page rendered by dttbTbl directive</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$route">$route</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/helper">helper</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/Notification">Notification</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/moment">moment</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ngDialog">ngDialog</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$translate">$translate</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transporter">transporter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/exporter">exporter</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_generatepagination">generatePagination()</h3>
<div class="generatepagination"><div class="generatepagination-page"><p>It generates the pagination object by using the properties of the tableQuery.</p>
</div><h4 id="methods_generatepagination_example">Example</h4>
<div class="example"><div class="generatepagination-page"><p>dttb.generatePagination();</p>
</div></div>
</div>
</li>
<li><h3 id="methods_hideloading">hideLoading()</h3>
<div class="hideloading"><div class="hideloading-page"><p>Method to hide spinner after a request had been called.</p>
</div><h4 id="methods_hideloading_example">Example</h4>
<div class="example"><div class="hideloading-page"><p>dttb.hideLoading();</p>
</div></div>
</div>
</li>
<li><h3 id="methods_init">init()</h3>
<div class="init"><div class="init-page"><p>This method will be called to initalize the table. 
It will call, for the first time, to get the table&#39;s data from remote server.</p>
</div><h4 id="methods_init_example">Example</h4>
<div class="example"><div class="init-page"><p>dttb.init();</p>
</div></div>
</div>
</li>
<li><h3 id="methods_initfilterfield">initFilterField(field)</h3>
<div class="initfilterfield"><div class="initfilterfield-page"><p>This method is used to fetch options data to some field in table. 
For example, the SELECT type filter requires some options so that user can select one. </p>
</div><h5 id="methods_initfilterfield_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>field</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="initfilterfield-page"><p>The scope object of field.</p>
</div></td></tr></tbody></table><h4 id="methods_initfilterfield_example">Example</h4>
<div class="example"><div class="initfilterfield-page"><p>dttb.initFilterField(field);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_initupdateajaxcolumn">initUpdateAjaxColumn(column)</h3>
<div class="initupdateajaxcolumn"><div class="initupdateajaxcolumn-page"><p>This method is used to fetch options data to some field in table. 
For example, the SELECT type column requires some options so that user can select one. </p>
</div><h5 id="methods_initupdateajaxcolumn_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>column</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="initupdateajaxcolumn-page"><p>The scope object of column</p>
</div></td></tr></tbody></table><h4 id="methods_initupdateajaxcolumn_example">Example</h4>
<div class="example"><div class="initupdateajaxcolumn-page"><p>dttb.initUpdateAjaxColumn(column);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_showloading">showLoading()</h3>
<div class="showloading"><div class="showloading-page"><p>Method to show spinner while a request is being performed.</p>
</div><h4 id="methods_showloading_example">Example</h4>
<div class="example"><div class="showloading-page"><p>dttb.showLoading();</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submitcellupdating">submitCellUpdating($row, $column, $rowIndex, $colKey)</h3>
<div class="submitcellupdating"><div class="submitcellupdating-page"><p>Method to submit the cell&#39;s changes to remote server.</p>
</div><h5 id="methods_submitcellupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="submitcellupdating-page"><p>The scope object of row where the cell is located.</p>
</div></td></tr><tr><td>$column</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="submitcellupdating-page"><p>The scope object of column where the cell is located.</p>
</div></td></tr><tr><td>$rowIndex</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="submitcellupdating-page"><p>The unique index of row inside the array of rows.</p>
</div></td></tr><tr><td>$colKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="submitcellupdating-page"><p>The unique key of column.</p>
</div></td></tr></tbody></table><h4 id="methods_submitcellupdating_example">Example</h4>
<div class="example"><div class="submitcellupdating-page"><p>dttb.submitCellUpdating($row, $column, 2, &#39;userId&#39;);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submitrowcreating">submitRowCreating()</h3>
<div class="submitrowcreating"><div class="submitrowcreating-page"><p>Method to submit new row&#39;s data to remote server.</p>
</div><h4 id="methods_submitrowcreating_example">Example</h4>
<div class="example"><div class="submitrowcreating-page"><p>dttb.submitRowCreating();</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submitrowdeleting">submitRowDeleting($row, $rowIndex)</h3>
<div class="submitrowdeleting"><div class="submitrowdeleting-page"><p>Request the delete action to remote server.</p>
</div><h5 id="methods_submitrowdeleting_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="submitrowdeleting-page"><p>The scope object of that row.</p>
</div></td></tr><tr><td>$rowIndex</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="submitrowdeleting-page"><p>The unique index of the row.</p>
</div></td></tr></tbody></table><h5 id="methods_submitrowdeleting_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="submitrowdeleting-page"><p>True if delete successfully, false otherwise.</p>
</div></td></tr></table><h4 id="methods_submitrowdeleting_example">Example</h4>
<div class="example"><div class="submitrowdeleting-page"><p>dttb.triggerRowDeleting($row, 2);</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submitrowupdating">submitRowUpdating()</h3>
<div class="submitrowupdating"><div class="submitrowupdating-page"><p>Method to submit the row&#39;s changes to remote server.</p>
</div><h4 id="methods_submitrowupdating_example">Example</h4>
<div class="example"><div class="submitrowupdating-page"><p>dttb.submitRowUpdating();</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submittablefiltering">submitTableFiltering()</h3>
<div class="submittablefiltering"><div class="submittablefiltering-page"><p>Method to request data from remote server with the filter conditions.</p>
</div><h4 id="methods_submittablefiltering_example">Example</h4>
<div class="example"><div class="submittablefiltering-page"><p>dttb.submitTableFiltering();</p>
</div></div>
</div>
</li>
<li><h3 id="methods_submittablereading">submitTableReading()</h3>
<div class="submittablereading"><div class="submittablereading-page"><h4 id="methods_submittablereading_submittablereading">submitTableReading</h4>
<p>This is the main method of ddttbTblController. 
It performs the request to remote server by using the tableQuery and tableState properties in the scope object.
The data fetched will be processed and stored in dttb.data </p>
</div><h4 id="methods_submittablereading_example">Example</h4>
<div class="example"><div class="submittablereading-page"><p>dttb.submitTableReading();</p>
</div></div>
</div>
</li>
<li><h3 id="methods_triggerexportcsv">triggerExportCSV()</h3>
<div class="triggerexportcsv"><div class="triggerexportcsv-page"><p>This event will be triggered when user wants to export table data as CSV file.
The dialog will appear for user to customize options.
It user the exporter service to export the data.</p>
</div><h4 id="methods_triggerexportcsv_example">Example</h4>
<div class="example"><div class="triggerexportcsv-page"><p>dttb.triggerExportCSV();</p>
</div></div>
</div>
</li>
<li><h3 id="methods_triggerlocalsorting">triggerLocalSorting()</h3>
<div class="triggerlocalsorting"><div class="triggerlocalsorting-page"><p>Method to sort data locally, without request to server.</p>
</div><h4 id="methods_triggerlocalsorting_example">Example</h4>
<div class="example"><div class="triggerlocalsorting-page"><p>dttb.triggerLocalSorting();</p>
</div></div>
</div>
</li>
<li><h3 id="methods_watchcollection">watchCollection()</h3>
<div class="watchcollection"><div class="watchcollection-page"><p>Watch and keep track the table&#39;s states. It help to know whether the table is being updated, created, deleted, etc.</p>
</div></div>
</li>
</ul>
</div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_tablequery">tableQuery</h3>
<div class="tablequery"><div class="datatablar-controller-page datatablar-controller-tablequery-page"><h4 id="properties_tablequery_tablequery">tableQuery</h4>
<p>tableQuery is an object,
which includes the query conditions, 
used to fetch data from remote server API.</p>
</div></div>
</li>
<li><h3 id="properties_tablestate">tableState</h3>
<div class="tablestate"><div class="datatablar-controller-page datatablar-controller-tablestate-page"><h4 id="properties_tablestate_tablestate">tableState</h4>
<p>tableState is an object, 
which includes the properties as well as the states,
to manage the table data generated by the script.</p>
</div></div>
</li>
<li><h3 id="properties_dttb">dttb</h3>
<div class="dttb"><div class="dttb-page"><p>A named variable for the <code>this</code> keyword representing the ViewModel</p>
</div></div>
</li>
</ul>
</div>
<div class="member event"><h2 id="events">Events</h2>
<ul class="events"><li><h3 id="events_activatehighlight">activateHighlight</h3>
<div class="activatehighlight"><div class="activatehighlight-page"><p>Method to activateHighlight data form the backend api</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_activatehighlight_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$column</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="activatehighlight-page"><p>The column to be hightlighted</p>
</div></td></tr><tr><td>$highlight</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="activatehighlight-page"><p>The highlight object includes VALUE, CONDITION, TYPE, and ACTIVE properties</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="events_cancelcellupdating">cancelCellUpdating</h3>
<div class="cancelcellupdating"><div class="cancelcellupdating-page"><p>This event will be triggered when user cancel updating a cell&#39;s value.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_cancelcellupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="cancelcellupdating-page"><p>The scope object of row where the cell is located.</p>
</div></td></tr><tr><td>$column</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="cancelcellupdating-page"><p>The scope object of column where the cell is located.</p>
</div></td></tr></tbody></table><h4 id="events_cancelcellupdating_example">Example</h4>
<div class="example"><div class="cancelcellupdating-page"><p>dttb.cancelCellUpdating($row, $column);</p>
</div></div>
</div>
</li>
<li><h3 id="events_cancelrowcreating">cancelRowCreating</h3>
<div class="cancelrowcreating"><div class="cancelrowcreating-page"><p>This event will be triggered when user wants to cancel creating new row.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h4 id="events_cancelrowcreating_example">Example</h4>
<div class="example"><div class="cancelrowcreating-page"><p>dttb.cancelRowCreating();</p>
</div></div>
</div>
</li>
<li><h3 id="events_cancelrowupdating">cancelRowUpdating</h3>
<div class="cancelrowupdating"><div class="cancelrowupdating-page"><p>This event will be triggered when user wants to cancel updating the row&#39;s data.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h4 id="events_cancelrowupdating_example">Example</h4>
<div class="example"><div class="cancelrowupdating-page"><p>dttb.cancelRowUpdating();</p>
</div></div>
</div>
</li>
<li><h3 id="events_canceltablefiltering">cancelTableFiltering</h3>
<div class="canceltablefiltering"><div class="canceltablefiltering-page"><p>This event will be triggered when user wants to cancel filtering table&#39;s data.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h4 id="events_canceltablefiltering_example">Example</h4>
<div class="example"><div class="canceltablefiltering-page"><p>dttb.cancelTableFiltering();</p>
</div></div>
</div>
</li>
<li><h3 id="events_changelanguage">changeLanguage</h3>
<div class="changelanguage"><div class="changelanguage-page"><p>Event will be triggered when user wants to change language.
It called the $translate service.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_changelanguage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>langKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="changelanguage-page"><p>Short key of languages, e.g., en-us, fr, it etc.</p>
</div></td></tr></tbody></table><h4 id="events_changelanguage_example">Example</h4>
<div class="example"><div class="changelanguage-page"><p>dttb.changeLanguage(&#39;en&#39;);</p>
</div></div>
</div>
</li>
<li><h3 id="events_gotopage">goToPage</h3>
<div class="gotopage"><div class="gotopage-page"><p>This event will be triggered if user want to go to other page.
It will request for new data from server.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_gotopage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$page</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="gotopage-page"><p>The page number to go.</p>
</div></td></tr></tbody></table><h4 id="events_gotopage_example">Example</h4>
<div class="example"><div class="gotopage-page"><p>dttb.goToPage(2);</p>
</div></div>
</div>
</li>
<li><h3 id="events_handlelocalfilter">handleLocalFilter</h3>
<div class="handlelocalfilter"><div class="handlelocalfilter-page"><p>It is used to handle the state (active/in-active) of local filter by each column. </p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_handlelocalfilter_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$column</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="handlelocalfilter-page"><p>The scope object of column to be handled.</p>
</div></td></tr></tbody></table><h4 id="events_handlelocalfilter_example">Example</h4>
<div class="example"><div class="handlelocalfilter-page"><p>dttb.handleLocalFilter($column);</p>
</div></div>
</div>
</li>
<li><h3 id="events_printtable">printTable</h3>
<div class="printtable"><div class="printtable-page"><p>Method to print the table data. 
It will generate the table data in a plain HTML page and automatically excute the print action</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h4 id="events_printtable_example">Example</h4>
<div class="example"><div class="printtable-page"><p>dttb.printTable();</p>
</div></div>
</div>
</li>
<li><h3 id="events_restorehiddencols">restoreHiddenCols</h3>
<div class="restorehiddencols"><div class="restorehiddencols-page"><p>This event will be triggered when user wants to restore the columns&#39;s displaying states to their initial states.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h4 id="events_restorehiddencols_example">Example</h4>
<div class="example"><div class="restorehiddencols-page"><p>dttb.restoreHiddenCols();</p>
</div></div>
</div>
</li>
<li><h3 id="events_selectallrows">selectAllRows</h3>
<div class="selectallrows"><div class="selectallrows-page"><p>This event will be triggered if user checks a box to select all rows.
It will check/un-check all rows on the table.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h4 id="events_selectallrows_example">Example</h4>
<div class="example"><div class="selectallrows-page"><p>dttb.selectAllRows();</p>
</div></div>
</div>
</li>
<li><h3 id="events_selectnumrowsperpage">selectNumRowsPerPage</h3>
<div class="selectnumrowsperpage"><div class="selectnumrowsperpage-page"><p>This event will be triggered if user want to change the number of rows displayed on a page.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_selectnumrowsperpage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$numRowsPerPage</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="selectnumrowsperpage-page"><p>Number of rows to be displayed on a page.</p>
</div></td></tr></tbody></table><h4 id="events_selectnumrowsperpage_example">Example</h4>
<div class="example"><div class="selectnumrowsperpage-page"><p>dttb.selectNumRowsPerPage(id);</p>
</div></div>
</div>
</li>
<li><h3 id="events_selectrow">selectRow</h3>
<div class="selectrow"><div class="selectrow-page"><p>This event will be triggered if user checks a box to select a row.
It will check/un-check all a row on the table.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h4 id="events_selectrow_example">Example</h4>
<div class="example"><div class="selectrow-page"><p>dttb.selectRow();</p>
</div></div>
</div>
</li>
<li><h3 id="events_sortbycol">sortByCol</h3>
<div class="sortbycol"><div class="sortbycol-page"><p>This event is triggered when user want to sort table&#39;s data by a column and with request to remote server.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_sortbycol_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$columnKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="sortbycol-page"><p>Unique key of the column</p>
</div></td></tr></tbody></table><h4 id="events_sortbycol_example">Example</h4>
<div class="example"><div class="sortbycol-page"><p>dttb.sortByCol(id);</p>
</div></div>
</div>
</li>
<li><h3 id="events_sortbycollocal">sortByColLocal</h3>
<div class="sortbycollocal"><div class="sortbycollocal-page"><p>This event is triggered when user selected a column to sort by locally. </p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_sortbycollocal_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$columnKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="sortbycollocal-page"><p>Unique key of the column</p>
</div></td></tr></tbody></table><h4 id="events_sortbycollocal_example">Example</h4>
<div class="example"><div class="sortbycollocal-page"><p>dttb.sortByColLocal(&#39;userId&#39;);</p>
</div></div>
</div>
</li>
<li><h3 id="events_triggercellupdating">triggerCellUpdating</h3>
<div class="triggercellupdating"><div class="triggercellupdating-page"><p>This event will be triggered when user double clicks on the cell to mofify the value.
User will be allowed to change the cell&#39;s value if he/she doesn&#39;t perform any other actions.
The changes will be updated to server by an AJAX request.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_triggercellupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="triggercellupdating-page"><p>The scope object of row where the cell is located.</p>
</div></td></tr><tr><td>$column</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="triggercellupdating-page"><p>The scope object of column where the cell is located.</p>
</div></td></tr><tr><td>$rowIndex</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="triggercellupdating-page"><p>The unique index of row inside the array of rows.</p>
</div></td></tr><tr><td>$colKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="triggercellupdating-page"><p>The unique key of column.</p>
</div></td></tr></tbody></table><h4 id="events_triggercellupdating_example">Example</h4>
<div class="example"><div class="triggercellupdating-page"><p>dttb.triggerCellUpdating($row, $column, 2, &#39;userId&#39;);</p>
</div></div>
</div>
</li>
<li><h3 id="events_triggerrowcreating">triggerRowCreating</h3>
<div class="triggerrowcreating"><div class="triggerrowcreating-page"><p>This event will be triggered when user click to add new row to the table.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h4 id="events_triggerrowcreating_example">Example</h4>
<div class="example"><div class="triggerrowcreating-page"><p>dttb.triggerRowCreating();</p>
</div></div>
</div>
</li>
<li><h3 id="events_triggerrowdeleting">triggerRowDeleting</h3>
<div class="triggerrowdeleting"><div class="triggerrowdeleting-page"><p>This event will be triggered when user want to delete a row by clicking on the trash button of it.
It will as the confirmation of user, then call the method submitRowDeleting</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_triggerrowdeleting_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="triggerrowdeleting-page"><p>The scope object of that row.</p>
</div></td></tr><tr><td>$rowIndex</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="triggerrowdeleting-page"><p>The unique index of the row.</p>
</div></td></tr></tbody></table><h4 id="events_triggerrowdeleting_example">Example</h4>
<div class="example"><div class="triggerrowdeleting-page"><p>dttb.triggerRowDeleting($row, 2);</p>
</div></div>
</div>
</li>
<li><h3 id="events_triggerrowupdating">triggerRowUpdating</h3>
<div class="triggerrowupdating"><div class="triggerrowupdating-page"><p>This event will be triggered when user click to edit the row&#39;s data.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_triggerrowupdating_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="triggerrowupdating-page"><p>The scope object of row.</p>
</div></td></tr><tr><td>$rowIndex</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="triggerrowupdating-page"><p>The unique index of row.</p>
</div></td></tr></tbody></table><h4 id="events_triggerrowupdating_example">Example</h4>
<div class="example"><div class="triggerrowupdating-page"><p>dttb.triggerRowUpdating($row, $rowIndex);</p>
</div></div>
</div>
</li>
<li><h3 id="events_triggertablefiltering">triggerTableFiltering</h3>
<div class="triggertablefiltering"><div class="triggertablefiltering-page"><p>This event is triggered when user want to filter table&#39;s data with conditions.
The dialog will be displayed to select conditions.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h4 id="events_triggertablefiltering_example">Example</h4>
<div class="example"><div class="triggertablefiltering-page"><p>dttb.triggerTableFiltering();</p>
</div></div>
</div>
</li>
<li><h3 id="events_viewrowdetail">viewRowDetail</h3>
<div class="viewrowdetail"><div class="viewrowdetail-page"><p>This event will be triggered when user click to see detail of a row.
It will diplay a dialog showing details of that row. </p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_viewrowdetail_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$row</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="viewrowdetail-page"><p>The scope object of that row.</p>
</div></td></tr><tr><td>$rowIndex</td><td><a href="" class="label type-hint type-hint-int">int</a></td><td><div class="viewrowdetail-page"><p>The unique index of the row.</p>
</div></td></tr></tbody></table><h4 id="events_viewrowdetail_example">Example</h4>
<div class="example"><div class="viewrowdetail-page"><p>dttb.viewRowDetail($row, 2);</p>
</div></div>
</div>
</li>
<li><h3 id="events_zoominimage">zoomInImage</h3>
<div class="zoominimage"><div class="zoominimage-page"><p>This event will be triggered when user click on an image to view it larger.</p>
</div><div class="inline"></div>
<div class="inline"></div>
<h5 id="events_zoominimage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$imageSrc</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="zoominimage-page"><p>Source to the image</p>
</div></td></tr><tr><td>$imageLabel</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="zoominimage-page"><p>Label of the image</p>
</div></td></tr></tbody></table><h4 id="events_zoominimage_example">Example</h4>
<div class="example"><div class="zoominimage-page"><p>dttb.zoomInImage(&#39;/path/to/image&#39;, &#39;label of image&#39;);</p>
</div></div>
</div>
</li>
</ul>
</div>
</div>
