<h1><code ng:non-bindable="">dttbRowSummary</code>
<div><span class="hint">filter in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-filter-page datatablar-filter-dttbrowsummary-page"><h3 id="description_dttbrowsummary">dttbRowSummary</h3>
<p>This filter is used to summarize values of a column. </p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$filter">$filter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/dttbHelperService">dttbHelperService</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> dttbRowSummary_expression | dttbRowSummary:rows:type <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('dttbRowSummary')(columnKey, rows, type)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>columnKey</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-filter-page datatablar-filter-dttbrowsummary-page"><p>Column to be summarized</p>
</div></td></tr><tr><td>rows</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="datatablar-filter-page datatablar-filter-dttbrowsummary-page"><p>Array of objects. All rows&#39;s data in table.</p>
</div></td></tr><tr><td>type</td><td><a href="" class="label type-hint type-hint-number">number</a><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-filter-page datatablar-filter-dttbrowsummary-page"><p>Type of summary. 0: sum; 1: average; 2: min; 3: max;</p>
</div></td></tr></tbody></table></div>
</div>
