<h1><code ng:non-bindable="">exporter</code>
<div><span class="hint">service in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-service-page datatablar-service-exporter-page"><h3 id="description_exporter">exporter</h3>
<p>Provided services are: 
exportCsv; checkValidFileName; generateCsvHeader; 
generateCsvBody; downloadCsvFile; generatePrintTable</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/transporter">transporter</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$q">$q</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_checkvalidfilename">checkValidFileName($name)</h3>
<div class="checkvalidfilename"><div class="datatablar-service-page datatablar-service-exporter-checkvalidfilename-page"><p>Check whether the filename is valid or not.</p>
</div><h5 id="methods_checkvalidfilename_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$name</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-exporter-checkvalidfilename-page"><p>The filename to be checked.</p>
</div></td></tr></tbody></table><h5 id="methods_checkvalidfilename_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-exporter-checkvalidfilename-page"><p>Valid filename or &#39;data-tablar&#39; if invalid.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_downloadcsvfile">downloadCsvFile($csvHeader, $csvBody, $csvFooter, $fileName)</h3>
<div class="downloadcsvfile"><div class="datatablar-service-page datatablar-service-exporter-downloadcsvfile-page"><p>Let user to download their table&#39;s data as CSV file format. The download is automatically triggered.</p>
</div><h5 id="methods_downloadcsvfile_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$csvHeader</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-exporter-downloadcsvfile-page"><p>Table&#39;s headers</p>
</div></td></tr><tr><td>$csvBody</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-exporter-downloadcsvfile-page"><p>Table&#39;s body</p>
</div></td></tr><tr><td>$csvFooter</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-exporter-downloadcsvfile-page"><p>Table&#39;s footers</p>
</div></td></tr><tr><td>$fileName</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-exporter-downloadcsvfile-page"><p>The CSV filename.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_exportcsv">exportCsv($data, $columns, $printOptions)</h3>
<div class="exportcsv"><div class="datatablar-service-page datatablar-service-exporter-exportcsv-page"><p>Export table&#39;s data to csv file and download.</p>
</div><h5 id="methods_exportcsv_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$data</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-exportcsv-page"><p>All rows data to be printed</p>
</div></td></tr><tr><td>$columns</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-exportcsv-page"><p>All columns to be printed</p>
</div></td></tr><tr><td>$printOptions</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-exportcsv-page"><p>Printing options object</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_generatecsvbody">generateCsvBody($columns, $rows, $exportConfig)</h3>
<div class="generatecsvbody"><div class="datatablar-service-page datatablar-service-exporter-generatecsvbody-page"><p>Generate table&#39;s body data in format CSV.</p>
</div><h5 id="methods_generatecsvbody_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$columns</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-generatecsvbody-page"><p>The scope object of columns to be generated.</p>
</div></td></tr><tr><td>$rows</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-generatecsvbody-page"><p>The scope object of rows to be generated.</p>
</div></td></tr><tr><td>$exportConfig</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-generatecsvbody-page"><p>Export configuration object.</p>
</div></td></tr></tbody></table><h5 id="methods_generatecsvbody_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-exporter-generatecsvbody-page"><p>The table&#39;s body in format CSV.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_generatecsvheader">generateCsvHeader($columns, $exportConfig)</h3>
<div class="generatecsvheader"><div class="datatablar-service-page datatablar-service-exporter-generatecsvheader-page"><p>Generate table&#39;s headers/footers data in format CSV.</p>
</div><h5 id="methods_generatecsvheader_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$columns</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-generatecsvheader-page"><p>The scope object of columns to be generated.</p>
</div></td></tr><tr><td>$exportConfig</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-generatecsvheader-page"><p>Export configuration object.</p>
</div></td></tr></tbody></table><h5 id="methods_generatecsvheader_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-exporter-generatecsvheader-page"><p>The table&#39;s headers/footers in format CSV.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_generateprinttable">generatePrintTable($data, $columns, $printOptions)</h3>
<div class="generateprinttable"><h5 id="methods_generateprinttable_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$data</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-generateprinttable-page"><p>All rows data to be printed</p>
</div></td></tr><tr><td>$columns</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-generateprinttable-page"><p>All columns to be printed</p>
</div></td></tr><tr><td>$printOptions</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-generateprinttable-page"><p>Printing options object</p>
</div></td></tr></tbody></table><h5 id="methods_generateprinttable_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-exporter-generateprinttable-page"><p>The HTML generated page includes table codes.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_readtable">readTable($requestUrl, $requestConfig, $responsePath, $conversionOut)</h3>
<div class="readtable"><div class="datatablar-service-page datatablar-service-exporter-readtable-page"><p>Method allows exporter to request data if user wants to export/print many pages.</p>
</div><h5 id="methods_readtable_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$requestUrl</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-exporter-readtable-page"><p>Link to request</p>
</div></td></tr><tr><td>$requestConfig</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-readtable-page"><p>Request configuration</p>
</div></td></tr><tr><td>$responsePath</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="datatablar-service-page datatablar-service-exporter-readtable-page"><p>Response path to get data.</p>
</div></td></tr><tr><td>$conversionOut</td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="datatablar-service-page datatablar-service-exporter-readtable-page"><p>Conversion from request&#39;s response to be adaptable.</p>
</div></td></tr></tbody></table><h5 id="methods_readtable_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">boolean|object</a></td><td><div class="datatablar-service-page datatablar-service-exporter-readtable-page"><p>Object if success, otherwise false</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_validateselectedpages">validateSelectedPages($selectedPagesString, $totalPages)</h3>
<div class="validateselectedpages"><div class="datatablar-service-page datatablar-service-exporter-validateselectedpages-page"><p>To check whether the selected pages are valid to print.</p>
</div><h5 id="methods_validateselectedpages_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>$selectedPagesString</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-exporter-validateselectedpages-page"><p>E.g. 1-5,6-8,10</p>
</div></td></tr><tr><td>$totalPages</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-exporter-validateselectedpages-page"><p>The total number of pages.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
