<h1><code ng:non-bindable="">transporter</code>
<div><span class="hint">service in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-service-page datatablar-service-transporter-page"><h3 id="description_transporter">transporter</h3>
<p>Provided services are: 
exportCsv; checkValidFileName; generateCsvHeader; 
generateCsvBody; downloadCsvFile; generatePrintTable</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/Notification">Notification</a></code>
</li>
</ul>
</div>
