<h1><code ng:non-bindable="">DetailsCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><h3 id="description_detailsctrl">DetailsCtrl</h3>
<p>Controller of the appModernizationApp
This controller is responsible for showing the details of the page.
It gets initialized by requesting the JSON for types of rooms which is hosted on the server.
It also requests for the details of the room for an existing reservation if the reservation id is present in the route using <b>HRS.getRegisteredData(reservationId)</b>.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$scope">$scope</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$http">$http</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/HRS">HRS</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$location">$location</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/ng.$routeParams">$routeParams</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/breadcrumbs">breadcrumbs</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/api/UtilitiesService">UtilitiesService</a></code>
</li>
</ul>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_breadcrumbsobject">breadcrumbs:object</h3>
<div class="breadcrumbsobject"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>breadcrumbs Handles the page level/navigation at the top.</p>
</div></div>
</li>
<li><h3 id="properties_reservationdetailsarray">reservationDetails:array</h3>
<div class="reservationdetailsarray"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>This holds the reservation details of the current/selected reservation.</p>
</div></div>
</li>
<li><h3 id="properties_registerationerrormsgstring">registerationErrorMsg:string</h3>
<div class="registerationerrormsgstring"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>This variable holds the error message for all registration services.</p>
</div></div>
</li>
<li><h3 id="properties_roomsearcherrormsgstring">roomSearchErrorMsg:string</h3>
<div class="roomsearcherrormsgstring"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>This variable holds the error message for all room search services.</p>
</div></div>
</li>
<li><h3 id="properties_roomdetailsarray">roomDetails:array</h3>
<div class="roomdetailsarray"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>This holds the room details object. This will be a fresh object coming from service response and will be manipulated as per the view model.</p>
</div></div>
</li>
<li><h3 id="properties_submittedboolean">submitted:boolean</h3>
<div class="submittedboolean"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>Holds the submitted boolean flag. Initialized with false. Changes to true when we store the details.</p>
</div></div>
</li>
<li><h3 id="properties_reservationidnumber">reservationId:number</h3>
<div class="reservationidnumber"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>Gets the reservation id from the route params.</p>
</div></div>
</li>
<li><h3 id="properties_mindatedate">minDate:date</h3>
<div class="mindatedate"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>Date filled in the minimum date vatiable</p>
</div></div>
</li>
<li><h3 id="properties_isroomdetailsvisibleboolean">isRoomDetailsVisible:boolean</h3>
<div class="isroomdetailsvisibleboolean"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>Controls the boolean flag for visibility of room details. Initialized with false.</p>
</div></div>
</li>
<li><h3 id="properties_roomtypesarray">roomTypes:array</h3>
<div class="roomtypesarray"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>Holds types of rooms from JSON.</p>
</div></div>
</li>
<li><h3 id="properties_expirymontharray">expirymonth:array</h3>
<div class="expirymontharray"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>Months from Jan to Dec</p>
</div></div>
</li>
<li><h3 id="properties_expiryyeararray">expiryYear:array</h3>
<div class="expiryyeararray"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>Years of a particular range</p>
</div></div>
</li>
<li><h3 id="properties_cardtypearray">cardtype:array</h3>
<div class="cardtypearray"><div class="datatablar-controller-page datatablar-controller-detailsctrl-page"><p>Type of cards</p>
</div></div>
</li>
</ul>
</div>
</div>
