<h1><code ng:non-bindable="">tableQuery</code>
<div><span class="hint">object in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-controller-page datatablar-controller-tablequery-page"><h3 id="description_tablequery">tableQuery</h3>
<p>Object of the dttbTbl directive</p>
</div></div>
</div>
