<h1><code ng:non-bindable="">dttbHelperService</code>
<div><span class="hint">service in module <code ng:non-bindable="">dataTablar</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datatablar-service-page datatablar-service-dttbhelperservice-page"><h3 id="description_dttbhelperservice">dttbHelperService</h3>
<p>Provided useful functions.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/api/ng.$window">$window</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_bindbeforeunload">bindBeforeUnload()</h3>
<div class="bindbeforeunload"><div class="datatablar-service-page datatablar-service-dttbhelperservice-bindbeforeunload-page"><p>Bind the window to this event in order to prevent
accidentally leaving the page while
doing action like: UDPATE, DELETE, CREATE.</p>
</div></div>
</li>
<li><h3 id="methods_checkvalidfilename">checkValidFileName(name)</h3>
<div class="checkvalidfilename"><div class="datatablar-service-page datatablar-service-dttbhelperservice-checkvalidfilename-page"><p>Check wether the file name is valid.</p>
</div><h5 id="methods_checkvalidfilename_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>name</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-checkvalidfilename-page"><p>Filename</p>
</div></td></tr></tbody></table><h5 id="methods_checkvalidfilename_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-checkvalidfilename-page"><p>Valid or not. True or False.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_compare">compare(value, condition, reference)</h3>
<div class="compare"><h5 id="methods_compare_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>value</td><td><a href="" class="label type-hint type-hint-any">any</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-compare-page"><p>Value to compare</p>
</div></td></tr><tr><td>condition</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-compare-page"><p>Compare condition</p>
</div></td></tr><tr><td>reference</td><td><a href="" class="label type-hint type-hint-any">any</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-compare-page"><p>Reference value to compared with.</p>
</div></td></tr></tbody></table><h5 id="methods_compare_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-compare-page"><p>True false.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_flattenarrayofnestedobjects">flattenArrayOfNestedObjects(arrayOfNestedObjects)</h3>
<div class="flattenarrayofnestedobjects"><h5 id="methods_flattenarrayofnestedobjects_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>arrayOfNestedObjects</td><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-flattenarrayofnestedobjects-page"><p>Make it only one root object.</p>
</div></td></tr></tbody></table><h5 id="methods_flattenarrayofnestedobjects_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">array</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-flattenarrayofnestedobjects-page"><p>The flatted objects array.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_flattenrecursive">flattenRecursive(currentKey, into, target)</h3>
<div class="flattenrecursive"><div class="datatablar-service-page datatablar-service-dttbhelperservice-flattenrecursive-page"><p>Recursive function support for flattenArrayOfNestedObjects</p>
</div><h5 id="methods_flattenrecursive_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>currentKey</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-flattenrecursive-page"><p>currentKey</p>
</div></td></tr><tr><td>into</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-flattenrecursive-page"><p>into</p>
</div></td></tr><tr><td>target</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-flattenrecursive-page"><p>target</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_generatepagination">generatePagination(numTotalRows, numRowsPerPage, numPagesDisplaying, currentPage, currentNumRows)</h3>
<div class="generatepagination"><h5 id="methods_generatepagination_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>numTotalRows</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-generatepagination-page"><p>Current total rows on table</p>
</div></td></tr><tr><td>numRowsPerPage</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-generatepagination-page"><p>Current number of rows per page</p>
</div></td></tr><tr><td>numPagesDisplaying</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-generatepagination-page"><p>Current displayed pages</p>
</div></td></tr><tr><td>currentPage</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-generatepagination-page"><p>Current page</p>
</div></td></tr><tr><td>currentNumRows</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-generatepagination-page"><p>Current number of rows</p>
</div></td></tr></tbody></table><h5 id="methods_generatepagination_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-generatepagination-page"><p>The pagination object.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_generatesolvingerrorguide">generateSolvingErrorGuide(errorMsg, subErrorMsg)</h3>
<div class="generatesolvingerrorguide"><div class="datatablar-service-page datatablar-service-dttbhelperservice-generatesolvingerrorguide-page"><p>Generate process guide to solve the error.</p>
</div><h5 id="methods_generatesolvingerrorguide_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>errorMsg</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-generatesolvingerrorguide-page"><p>Error message</p>
</div></td></tr><tr><td>subErrorMsg</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-generatesolvingerrorguide-page"><p>For example: an url.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_sum">sum(elements, key)</h3>
<div class="sum"><h5 id="methods_sum_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>elements</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-sum-page"><p>array of object to be summed.</p>
</div></td></tr><tr><td>key</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-sum-page"><p>Property of object to be calculated.</p>
</div></td></tr></tbody></table><h5 id="methods_sum_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="datatablar-service-page datatablar-service-dttbhelperservice-sum-page"><p>The sum value.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_unbindbeforeunload">unBindBeforeUnload()</h3>
<div class="unbindbeforeunload"><div class="datatablar-service-page datatablar-service-dttbhelperservice-unbindbeforeunload-page"><p>Unbind the window from that event if user cancels / finishes his/her action.
E.g Create, Update, Delete </p>
</div></div>
</li>
</ul>
</div>
</div>
