<h1><code ng:non-bindable="">filterName</code>
<div><span class="hint">filter in module <code ng:non-bindable="">module</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="module-filter-page module-filter-filtername-page"><pre class="prettyprint linenums">
&lt;script&gt;
    angular.module('module')
            .controller('Ctrl', function() {

            });
&lt;/script&gt;


&lt;div ng-controller="Ctrl"&gt;

&lt;/div&gt;

</pre>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> filterName_expression | filterName <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('filterName')()</code>
</div>
</div>
<h2 id="example">Example</h2>
<div class="example"><div class="module-filter-page module-filter-filtername-page"><h4 id="example_source">Source</h4>
<div source-edit="module" deps="" source-edit-deps="angular.js script.js" source-edit-html="index.html" source-edit-css="" source-edit-js="script.js" source-edit-json="" source-edit-unit="" source-edit-scenario=""></div>
<div class="tabbable"><div class="tab-pane" title="index.html">
<pre class="prettyprint linenums" ng-set-text="index.html" ng-html-wrap-loaded="module" deps=" angular.js script.js"></pre>
<script type="text/ng-template" id="index.html">
    


<div ng-controller="Ctrl">

</div>

</script>
</div>
<div class="tab-pane" title="script.js">
<pre class="prettyprint linenums" ng-set-text="script.js"></pre>
<script type="text/ng-template" id="script.js">
        angular.module('module')
                .controller('Ctrl', function() {

                });
    </script>
</div>
</div><h4 id="example_demo">Demo</h4>
<div class="well doc-example-live animate-container" ng-embed-app="module" deps="" ng-set-html="index.html" ng-eval-javascript="script.js"></div>
</div></div>
</div>
