<h1><code ng:non-bindable="">tableState</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="tablestate-page"><h3 id="description_tablestate">tableState</h3>
<p>Object of the dttbTbl directive</p>
</div></div>
</div>
