<h1><code ng:non-bindable="">tableQuery</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="tablequery-page"><h3 id="description_tablequery">tableQuery</h3>
<p>Object of the dttbTbl directive</p>
</div></div>
</div>
