<h1><code ng:non-bindable="">triggerRowsDeleting</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="triggerrowsdeleting-page"><h3 id="description_triggerrowsdeleting">triggerRowsDeleting</h3>
<p>Function of the dttbTbl directive</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">new triggerRowsDeleting();</pre>
</div>
</div>
