<h1><code ng:non-bindable=""> the directive name goes after the the column</code>
<div><span class="hint">service in module <code ng:non-bindable="">pl.directive:entityPage //start with the module name. the second part is always directive</code>
</span>
</div>
</h1>
<div><h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY //will create a usage example combined with restrict entity-page //start with the module name. the second part is always directive. the directive name goes after the the column&gt;
   ...
&lt;/ANY //will create a usage example combined with restrict&gt;</pre>
as class<pre class="prettyprint linenums">&lt;ANY //will create a usage example combined with restrict class="entity-page //start with the module name. the second part is always directive. the directive name goes after the the column"&gt;
   ...
&lt;/ANY //will create a usage example combined with restrict&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
<li>This directive executes at priority level 1000 //The higher the priority the sooner the directive gets compiled..</li>
</ul>
</div>
</div>
</div>
